<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            background: #eaeaea;
        }

        .error-header{
            width: 50%;
            margin: 0 auto;
            padding: 30px;
            background: #e09393;
            color: #fff;
            font-size: 40px;
            font-family: Century gothic;
        }
        .error-body{
            width: 50%;
            margin: 0 auto;
            padding: 30px;
            background: #fff;
            font-family: Century gothic;
        }
    </style>
</head>
<body>
<div style="text-align: center; padding-top: 50px;">
    <div class="error-header">Something went wrong</div>
    <div class="error-body">
        An unexpected error has occured and an error report has been sent to us to fix this as soon as possible<br>
        <a href="javascript: window.history.back();">Go back to previous page</a>
    </div>
</div>
</body>
</html>